name: 'test'
on: # rebuild any PRs and main branch changes
  pull_request:
    types:
      - unlabeled
      - labeled
      - synchronize
      - opened
      - reopened
jobs:
  test:
    runs-on: ubuntu-latest
    env:
      GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
    steps:
      - uses: actions/checkout@v3
      - run: |
          npm install
      - run: |
          npm run build
          npm run package
      - name: Use tags as reference
        uses: ./
        with:
          file_path: 'package.json'
          major_label: 'TEST: major version'
          minor_label: 'TEST: minor version'
          patch_label: 'TEST: patch version'
          use_tag_as_ref: true
          comment: false
          commit: false
      - name: Reset files
        run: |
          git checkout -- package.json
      - name: Use main branch as reference
        uses: ./
        with:
          file_path: 'package.json'
          comment: true
